body{
    background: #f1f1f1;
    font-family: roboto, sans-serif;
    color: #757575;
}

#main-container{
    width: 100%;
    height: 100%;
    margin-top: 16px;
}

/*Left Div*/

#left-div{
    float: left;
    width: 33.3%;
    margin: 0 16px;
    background: #fff;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2), 0px 4px 20px 0px rgba(0, 0, 0, 0.19);
}

#left-div ul li{
    display: block;
    margin-left: -40px;
}

#image-container{
    position: relative;
    width: 100%;
    height: 220px;
    box-sizing: content-box;
}

#image-container img{
    width: 100%;
    height: 240px;
}

#image-container h2{
    position: absolute;
    color: #111;
    width: 90%;
    bottom: -35px;
    font-size: 30px;
    font-weight: 400;
    text-transform: capitalize;
    left: 10px;
}

#details{
    margin-top: 30px;
    margin-left: 10px;
    font-size: 15px;
    line-height: 22.5px;
}

#details li{
    padding: 10px 0;
}

#skills, #languages{
    width: 100%;
    padding-left: 10px;
    box-sizing: border-box;
}

#skills h2{
    font-size: 18px;
    font-weight: bold;
    line-height: 27px;
}

#completed-skills li, #language-known li{
    font-size: 15px;
    line-height: 22.5px;
    padding-bottom: 10px;
}

#completed-skills li small, #language-known li small{
    background: #009688;
    border-radius: 15px;
    text-align: center;
    color: #fff;
    margin-top: 10px;
}

#completed-skills li small, #language-known li small{
    display: block;
}

#language-known li small{
    color: #009688;
    height: 25px;
}

/*Right Div*/

#right-div{
    float: right;
    width: 64%;
    background: #f1f1f1;
}

#work-experience, #education{
    width: 95%;
    box-sizing: border-box;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    padding: 20px;
}

#work-experience h2, #education h2{
    font-size: 30px;
    font-weight: normal;
    line-height: 45px;
    margin: 10px 0;
}

.experience-work, .education-work{
    border-bottom: solid 1px #ddd;
}

.experience-work h3, .education-work h3{
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
}

.experience-work time, .education-work time{
    color: #009688;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.experience-work p, .education-work p{
    color: #222;
    font-size: 15px;
    line-height: 22.5px;
}

#experience-3, #education-3{
    border-bottom: none;
}

#education{
    margin-top: 20px;
}

/*Current Time*/

#current{
    background: #009688;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    border-radius: 5px;
    padding: 3px 9px;
    text-transform: capitalize;
}

/*FOOTER*/

footer #social-images{
    display: block;
    width: 215px;
    margin: 20px auto 0;
}

.image{
    display: inline-block;
    width: 32px;
    height: 32px;
    opacity: 0.5;
}

.image:hover{
    opacity: 1;
    cursor: pointer;
}

#fb{
    background: url('images/social-icons/fb.png');
}
#twitter{
    background: url('images/social-icons/twitter.png');
}
#insta{
    background: url('images/social-icons/insta.png');
}
#snapchat{
    background: url('images/social-icons/snapchat.png');
}
#linkedin{
    background: url('images/social-icons/linkedin.png');
}
#gplus{
    background: url('images/social-icons/G+.png');
}

footer{
    margin-top: 10px;
    background: #009688;
    color: #fff;
}

footer>span{
    display: block;
    text-align: center;
    padding: 20px;
    color: #f1f1f1;
}

footer p{
    display: block;
    text-align: center;
    color: #fff;
    padding-top: 20px;
}

/*ClearFix the class*/

.clearfix:after{
    content: ' ';
    clear: both;
    display: block;
}

/*HR Modifier*/

hr{
    border: 0;
    border-top: solid 1px #ddd;
    width: 95%;
}

/*Animation Section*/

@keyframes percentage90{
    from{ width:0; }
    to{ width: 90%; }
}

@keyframes percentage80{
    from{width: 0; }
    to{width: 80%;}
}

@keyframes percentage60{
    from{width: 0; }
    to{width: 60%;}
}

@keyframes percentage50{
    from{width: 0; }
    to{width: 50%;}
}

@keyframes percentage100{
    from{width: 0; }
    to{width: 100%; }
}

.colored{
    width: 95%;
    border-radius: 15px;
    background: #f1f1f1;
}

.perc100{
    width: 0; 
    animation-name: percentage100;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.perc90{
    animation-name: percentage90;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.perc80{
    width: 0;
    animation-name: percentage80;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-iteration-count: 1; 
}

.perc60{
   width: 0; 
    animation-name: percentage60;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.perc50{
   width: 0; 
    animation-name: percentage50;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}